@media (max-width:600px){
    .list-container{
        width: 90%;
        height: auto;
        min-width: auto;
    }
    .task-list{
        max-height: 60vh;
    }
    .item-status{
        display: none;
    }
    .task .delete-task{
        visibility: visible;
    }
}